body{
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   background-color: whitesmoke;
   font-weight: bold;
   font-size: 1.5em;
   margin: 3em;
}

.calculator{
   border:  outset 0.5em rgba(0, 183, 227, 0.8);
   border-radius: 1em;
   padding: 1em;
   width: 20em;
   background: linear-gradient(to right, rgba(0,183,227,0.8), rgba(7, 118, 133, 0.8));
   box-shadow: 0.4em 0.5em 0em rgba(80, 80, 80, 0.7);
}

.keys{
   font-family: 'Varela Round', sans-serif;
   border-radius: 0.3em;
   font-size: 1.2em;
   font-weight: bold;
   height: 3em;
   width: 3em;
   padding: .5em;
   box-shadow: 0.2em 0.2em 0em rgba(80, 80, 80, 0.3);
}

.keys:hover{
   background-color: rgba(0, 183, 227, 0.5);
}

#display{
   background-color: black;
   border-radius: 0.5em;
   height: 4em;
   width: 17em;
   margin-bottom: 1em;
}