body{
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   background-color: whitesmoke;
   font-weight: bold;
   font-size: 1.5em;
   margin: 3em;
}

.calculator{
   border:  solid 0.5em rgba(0, 183, 227, 0.8);
   border-radius: 1em;
   padding: 1em;
   width: 20em;
   background-color: rgba(0, 183, 227, 0.8);
}

.keys{
   font-family: 'Varela Round', sans-serif;
   border-radius: 0.5em;
   font-size: 1.2em;
   height: 3em;
   width: 3em;
   padding: .5em;

}

.keys:hover{
   background-color: chocolate;
}

#display{
   background-color: black;
   border-radius: 0.5em;
   height: 3em;
   width: 17em;
   margin-bottom: 1em;
}